@model CetStudentBook.Models.Book

@{
    ViewData["Title"] = "Kitap Sil";
}

<h1>Kitap Sil</h1>
<h3 class="text-danger">Bu kitabı silmek istediğinize emin misiniz?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Kitap Adı</dt>
        <dd class="col-sm-10">@Model.Name</dd>

        <dt class="col-sm-2">Yazar</dt>
        <dd class="col-sm-10">@Model.Author</dd>

        <dt class="col-sm-2">Basım Tarihi</dt>
        <dd class="col-sm-10">@Model.PublishDate.ToShortDateString()</dd>

        <dt class="col-sm-2">Sayfa Sayısı</dt>
        <dd class="col-sm-10">@Model.PageCount</dd>

        <dt class="col-sm-2">İkinci El mi?</dt>
        <dd class="col-sm-10">@(Model.IsSecondHand ? "Evet" : "Hayır")</dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Evet, Sil" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">İptal ve Listeye Dön</a>
    </form>
</div>