@model IEnumerable<CetStudentBook.Models.Book>

@{
    ViewData["Title"] = "Kitap Listesi";
}

<h1>Kitap Listesi</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Yeni Kitap Ekle</a>
</p>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Kitap Adı</th>
        <th>Yazar</th>
        <th>Basım Tarihi</th>
        <th>Sayfa Sayısı</th>
        <th>İkinci El mi?</th>
        <th>İşlemler</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>@item.Name</td>
            <td>@item.Author</td>
            <td>@item.PublishDate.ToShortDateString()</td>
            <td>@item.PageCount</td>
            <td>@(item.IsSecondHand ? "Evet" : "Hayır")</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Düzenle</a> 
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Sil</a>
            </td>
        </tr>
    }
    </tbody>
</table>